@font-face {
    font-family: IBMPlexMono;
    src: url(./fonts/IBMPlexMono-Regular.ttf);
}

@font-face {
    font-family: IBMPlexMono-Medium;
    src: url(./fonts/IBMPlexMono-Medium.ttf);
}

@font-face {
    font-family: IBMPlexSans;
    src: url(./fonts/IBMPlexSans-Regular.ttf);
}

@font-face {
    font-family: IBMPlexSans-SemiBold;
    src: url(./fonts/IBMPlexSans-SemiBold.ttf);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    font-size: 10px;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Barra de navegación - Navbar */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar_padding{
    padding: 1% 7%;
}

.navbar__img{
    width: 36px;
}

.navbar__menu{
    display: inline-flex;
    justify-content: space-between;
}

.navbar__option{
    font-family: IBMPlexMono;
    font-size: 1.6rem;
    font-weight: 600;
    color: #060A24;
    list-style: none;
    margin-left: 48px;
}

.navbar__link{
    text-decoration: none;
    color: inherit;
}

.navbar__link:hover{
    color: #00F3BB;
    text-decoration:line-through;
    transition: all 0.3s ease;
}

.navbar__link:active{
    color: rgba(6, 10, 36,0.56);
    font-weight: 400;
    text-decoration: none;   
}
.mobile-navbar{
    display: none;
    background-color: #0000EC;        
}

.navbar__menu-toggle{
    display: none;
}

.navbar__menu-checkbox{
    display: none;
}

/* Header principal - Header */

.header{
    padding: 6% 14% 2% 14%;
}

/* Estilos titulos - titles */

.title{
    font-family: IBMPlexSans;
    color: #060A24;  
}

.title_size-large{
    font-size: 6.4rem;
}

.title_size-medium{
    font-size: 4.8rem;
    font-weight: 300;
}

.title_line-through{
    text-decoration: line-through;
}

.title_blue-color{
    color: #0000EC;
}

.title_color-white{
    color: #FFFFFF;
}

/* Estilos textos - text */

.text{
    font-family: IBMPlexMono;
    font-size: 1.6rem;
    color: #060A24; 
}

.text_medium-width{
    width: 628px;    
}

.text_small-width{
    width: 464px;     
}

.text_small-margin{
    margin: 10px 0;
}


/* Boton principal - Button */

.button{    
    background: linear-gradient(225deg,#00F0B8,#00F0B8);; 
    padding: 16px 59px; 
    border: none;
    display: inline-block;
    text-align: center;
}

.button__text{
    font-family: IBMplexMono-Medium;
    font-size: 1.8rem;
    text-decoration: none;
    color: inherit; 
}

.button_margin-lg{
    margin-top: 56px;
}

.button_margin-md{
    margin-top: 36px;
}

.button:hover{    
    background: linear-gradient(225deg,#0000FE,#00F0B8);
    color: #ffffff;    
    transition: all 0.3s ease;
    cursor: pointer;
}

/* Sección Episodios - podcasts */

.podcasts{  
    padding: 3% 0 8% 0;      
    background: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
}

.podcasts__title-container{
    padding: 6% 14% 2% 14%;
}

.podcasts__container{
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-around;
    margin: 0 7% 0 7%;
}

.podcasts__iframe{    
    width: 40%;
    margin-top: 1%;
    margin-bottom: 2%;
}

/* Sección Nosotros - about-us */

.about-us{
    display: flex;
    padding: 6% 14% 1% 14%;
}

.about-us__img-container{
    width: 50%;
    margin-top: -15%;
    z-index: 100;
}

.about-us__img{    
    width: 80%;
}

/* Sección entrevistas - Interviews */


.interviews__title-container{
    padding: 1% 14% 2% 14%;
}

.photo-gallery{
    display: flex;
    flex-wrap: wrap;
}

.photo-gallery__image{    
    width: 33.3%;
    height: 9.3%;       
    vertical-align: middle;
    object-fit: cover;
}

/* Sección tópicos - topics */

.topics__title-container{
    padding: 4% 14% 2% 14%;
}

.topics__cards-container{
    padding: 2% 14% 2% 14%;
    display: flex;
    justify-content: space-evenly;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15.4%;
}

.card__image{
    width: 80%;
    margin-bottom: 5%;
}

.card__text{
    font-family: IBMPlexSans-SemiBold;
    font-size: 2rem;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    margin-top: 2%;    
}

/* Sección Novedades - news */

.news{
    margin: 0 auto;
    background: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
    padding: 10% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

/* Pie de página - Footer */

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 7%;
}

.footer__icons{    
    display: inline-flex;
    justify-content: space-between
}

.footer__icon{
    list-style: none;
    font-size: 1.8rem;
    margin-left: 36px;
    cursor: pointer;
}

.footer__icon:hover{
    color: #00F0B8;
    transform: scaleY(1.2) scaleX(1.2);
    animation: 1s linear ease;
}

.footer__icon-link{    
    text-decoration: none;
    color: inherit;
}

/* Media queries */


@media (max-width: 1279px) and (min-width: 769px) {
    
    :root{
        font-size: 8px;
    }

    .text_small-width{
        width: 350px;     
    }
}

/* Media queries for mobile size */

@media (max-width: 768px) {
    
    :root{
        font-size: 10px;
    }

    /* Barra de navegación - Navbar */
       
    .navbar__menu{
        display: none;
    }

    .navbar_padding{
        padding: 10px 16px;
    }

    .navbar__img{
        width: 24px;
    }

    .navbar__menu-toggle{
        display: block;
        width: 25px;
    }

    .navbar__menu-lines{
        width: 100%;        
        height: 3px;
        margin-bottom: 5px;
        background-color: #000;
        border-radius: 3px;
        cursor: pointer;
        transition: all 0.2s ease;
    }

    input[type="checkbox"]:checked + label div{
        transform: rotate(45deg) translate(-5px, -2px);
    }

    input[type="checkbox"]:checked + label div:nth-last-child(3){
        opacity: 0;
    }

    input[type="checkbox"]:checked + label div:nth-last-child(2){
        transform: rotate(-45deg) translate(-5px, -1px);
    }

    
    .mobile-navbar{
        display: block;
        background-color: #0000EC;
        position: fixed;
        left: -100%;
        margin-top: 5px; 
        width: 100vw;  
        transition: transform 0.5s ease-in-out;      
    }

    input[type="checkbox"]:checked + label ~ .mobile-navbar{
        display: block;
        transform: translate(100%, 0);
    }

    .mobile-navbar__option{
        padding: 16px;
        list-style: none;
    }

    .mobile-navbar__link{
        text-decoration: none;
        font-family: IBMPlexMono;
        font-size: 16px;
        color: #FFFFFF;
    }

    /* Header principal - Header */

    .header{
        padding: 4% 5%;
        display: flex; 
        flex-direction: column; 
        justify-content: space-between;  
    }

    /* Estilos titulos - titles */

    .title_size-large{
        font-size: 3.6rem;
    }

    .title_size-medium{
        font-size: 3.6rem;
        font-weight: 300;
    }

    .title_desktop-margin{
        margin: 29px 0 16px 0;
    }

    /* Estilos textos - text */

    .text{
        font-size: 1.4rem;
    }

    .text_medium-width{
        width: 100%;    
    }

    .text_small-width{
        width: 100%;     
    }

    .text_small-margin{
        margin: 15px 0;
    }

    .text_mobile-margin{
        margin: 16px 0;
    }

    /* Boton principal - Button */

    .button_margin-lg{
        margin-top: 36px;
    }

    /* Sección Episodios - podcasts */
    .podcasts{  
        padding: 64px 0 143px 0;
        clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);      
    }
    .podcasts__container{
        display: flex;
        flex-direction: column;  
        justify-content: space-around;
        margin: 0 7% 0 7%;
    }

    .podcasts__iframe{    
        width: 100%;
        margin-top: 1%;
        margin-bottom: 2%;
    }

    /* Sección Nosotros - about-us */

    .about-us{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        padding: 6% 0 6% 0;
    }

    .about-us__img-container{
        width: 100%;
        margin-top: -25%;
    }

    .about-us__img{    
        width: 100%;
    }

    .about-us__text-container{
        padding: 0 16px 0 16px;
    }

    /* Sección entrevistas - Interviews */

    .interviews{
        margin-top: 0px;
    }

    .interviews__title-container{
        padding: 14px 16px;
    }

    .photo-gallery{
        display: flex;
        flex-direction: column;
    }

    .photo-gallery__image{    
        width: 100%;
    }
    /* Sección tópicos - topics */

    .topics__title-container{
        padding: 14px 16px;
    }

    .topics__cards-container{
        padding: 2% 14% 2% 14%;
        display: flex;
        flex-direction: column;
    }

    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 25px 0;
    }

    .card__image{
        width: 60%;
        margin-bottom: 5%;
    }

    .card__text{        
        font-size: 2.4rem;    
    }
    /* Sección Novedades - news */

    .news{
        margin: 0 auto;
        clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
        padding: 10% 16px;
        text-align: center;
    }

    /* Pie de página - Footer */

    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5% 9%;
    }

    .footer__icons{    
        display: inline-flex;
        width: 80%;
    }

    .footer__icon{
        list-style: none;
        font-size: 1.8rem;
        cursor: pointer;
        margin-left: 0;
    }


}


  